@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Junge&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@1,100&display=swap');
.cartItem {
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: 6rem;
    margin: 0 auto;
    flex-direction: column;
}
@media screen and (min-width: 1280px) {
    .cartItem {
    }
}

@media screen and (max-width: 767px) {
    .cartItem {
        height: 100vh;
        width: 100vw;
    }
}

.cartItem_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.5rem;
    border: 1px solid rgb(138, 75, 194, 0.5);
    width: 650px;
    border-radius: 15px;
    position: relative;
    color: black;
    text-decoration: none;
}
@media screen and (min-width: 1280px) {
    .cartItem_container {
        
    }
}

@media screen and (max-width: 767px) {
    .cartItem_container{
        width: 320px;
    }
}

.buy_title {
    font-family: 'Oranienbaum', serif;
    font-size: 31px;
    white-space: nowrap;
}

.buy_title_img {
    font-family: 'Oranienbaum', serif;
    font-size: 31px;
}
@media screen and (min-width: 1280px) {
    .buy_title_img {
        
    }
}

@media screen and (max-width: 767px) {
    .buy_title_img{
        font-size: 25px;
    }
}

.buy_title_size {
    font-family: 'Oranienbaum', serif;
    font-size: 20px;
}

.cartItem_img {
    height: 220px;
    width: 180px;
    object-fit: contain;
}
@media screen and (min-width: 1280px) {
    .cartItem_img {
        
    }
}

@media screen and (max-width: 767px) {
    .cartItem_img{
        width: 140px;
        height: 190px;
    }
}

.buy_section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    gap: 1rem;
    margin-bottom: 25px;
}
@media screen and (min-width: 1280px) {
    .buy_section {
        
    }
}

@media screen and (max-width: 767px) {
    .buy_section{
        width: 320px;
    }
}

.cartItem_text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 21px;
}

.line {
    height: 1px;
    background-color: rgb(138, 75, 194);
    width: 100%;
}

.cartline {
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
    gap: 1rem;
    margin-bottom: 25px;
}

.cartItem_dis {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin: 0 auto;
    margin-bottom: 25px;
    
}

.cartContainer {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: space-between;
    width: 60%;
    align-items: flex-start;
}

@media (max-width: 1200px) {
    .cartContainer {
        flex-direction: column;
    }
}

@media screen and (max-width: 767px) {
    .cartContainer{
        width: auto;
    }
}

.remove_but {
    position: absolute;
    border: none;
    background-color: transparent;
    top: 3%;
    right: 4%;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in;
&:hover{
    transform: translateY(-14%);
} }

.left_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

.buy_section_cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    white-space: nowrap;
}


.buy {
    font-family: 'Urbanist', sans-serif;
    white-space: nowrap;
    font-size: 27px;
}
@media screen and (min-width: 1280px) {
    .buy {
        
    }
}

@media screen and (max-width: 767px) {
    .buy{
        font-size: 21px;
    }
}

.buy_section_text {
    font-family: 'Junge', serif;
    white-space: nowrap;
    font-weight: 400;
    font-size: 19px;
}

.promo_input {
    width: 100%;
    height: 45px;
    font-size: 17px;
    border-radius: 50px;
    border-bottom: 1px solid rgb(138, 75, 194);
    border-right: 1px solid rgb(138, 75, 194);
    border-top: none;
    border-left: none;
    box-shadow: 0px 4px 6px rgb(138, 75, 194);
    color: black;
    padding: 15px;
    transition: all 0.3s ease-in;
&:active{
    border-bottom: 3px solid rgb(138, 75, 194);
    border-right: 3px solid rgb(138, 75, 194);
}}

.input_div {
    width: 100%;
    display: flex;
    gap: 0.5rem;
}

.input_button {
    width: 100%;
    background-color: white;
    height: 45px;
    border-radius: 50px;
    border-bottom: 1px solid rgb(138, 75, 194);
    border-right: 1px solid rgb(138, 75, 194);
    box-shadow: 0px 4px 6px rgb(138, 75, 194);
    color: black;
    border-top: none;
    border-left: none;
    cursor: pointer;
    transition: all 0.3s ease-in;
&:hover{
    box-shadow: 0px 6px 8px rgb(138, 75, 194);
}}

.buy_button {
    height: 45px;
    width: 100%;
    margin-bottom: 25px;
    background-color: rgb(138, 75, 194);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease;
&:hover {
    background-color: rgb(119, 64, 168);
}}

.selector {
    padding: 6px;
    width: 70px;
}

.promo_text {
    color: grey;
}

.confermed_input{
    background-color: rgb(180, 173, 173);
    transition: all 0.2s ease-in;
    box-shadow: 0px 4px 6px rgb(46, 46, 46);
    border-radius: 50px;
    height: 45px;
    width: 100%;
    
    color: white;
    padding: 12px;
}

.confermed_button {
    background-color: rgb(180, 173, 173);
    height: 45px;
    width: 100%;
    
    transition: all 0.2s ease-in;
    box-shadow: 0px 4px 6px rgb(46, 46, 46);
    border-radius: 50px;
}

.buy_subtext {
    font-size: 16px;
}
@media screen and (min-width: 1280px) {
    .buy_subtext {
        
    }
}

@media screen and (max-width: 767px) {
    .buy_subtext{
        font-size: 13px;
    }
}

.buy_section_text_original-rice {
    color: red;
    text-decoration-line: line-through;
    font-size: 16px;
}

.buy_section_text_discounted-price {
    color: green;
    font-size: 19px;
}