@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');
.store{
    min-height: 100vh;
    height: auto;
    overflow-x: hidden;
}

.store_header {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    position: fixed;
    top: 0; /* Закрепите заголовок вверху страницы */
    left: 0;
    right: 0;
    z-index: 1;
    padding: 5px;
    width: 100%;
    overflow: hidden;
}
@media screen and (min-width: 1280px) {
    .store_header {
    }
}

@media screen and (max-width: 767px) {
    .store_header {
        justify-content: space-around;
    }
}

.store_header.scrolled {
    background-color: rgba(138, 75, 194, 0.8);  
    height: 45px;
}

.store_header_text {
    font-family: 'Assistant', sans-serif;
    font-size: 54px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in;
    color: black;
    transform: translate(0);
    transition: all 0.4s ease-in;
    
&:hover {
    color: rgb(54, 54, 54);
} }

@media screen and (min-width: 1280px) {
    .store_header_text {
        font-size: 44px;
    }
}

@media screen and (max-width: 767px) {
    .store_header_text {
        font-size: 34px;
    }
}

.store_header.scrolled .store_header_text {
    transform: translateY(-33px);
    color: white;
}

.store_header_moscow {
    font-family: 'Assistant', sans-serif;
    font-size: 34px;
    font-weight: 400;
    transition: all 0.4s ease-in;
}

@media screen and (min-width: 1280px) {
    .store_header_moscow {
        font-size: 28px;
    }
}

@media screen and (max-width: 767px) {
    .store_header_moscow{
        font-size: 18px;
    }
}

.store_header.scrolled .store_header_moscow {
    color: white;
}


.header_location {
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
}


.store_header_count {
    display: flex;
    gap: 10px;
    align-items: center;
}

.corzina {
    width: 38px;
    height: 38px;
    cursor: pointer;
}

@media screen and (min-width: 1280px) {
    .corzina {
        width: 38px;
        height: 38px;
    }
}

@media screen and (max-width: 767px) {
    .corzina{
        width: 28px;
        height: 28px;
    }
}

.counter {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: relative;
    transform: translate(-15px, 15px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 767px) {
    .counter{
        width: 17px;
        height: 17px;
    }
}

.store_header.scrolled .counter {
    border: 1 px solid white;
    color: white;
}
/* IMG CONTAINER*/

.img_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    flex-direction: column;
    gap: 2.5rem;
}
@media screen and (min-width: 1280px) {
    .img_container {

    }
}

@media screen and (max-width: 767px) {
    .img_container{
        gap: 0.2rem;
    }
}

.img_container_images {
    display: flex;
    gap: 25px;
}
@media screen and (min-width: 1280px) {
    .img_container_images {

    }
}

@media screen and (max-width: 767px) {
    .img_container_images{
        gap: 0;
    }
}

.container_text {
    font-size: 37px;
    display: flex;
    height: 180px;
    background-color: black;
    width: 100%;
    color: white;
    align-items: center;
    justify-content: center;
    -webkit-text-stroke: 1.5px rgb(138, 75, 194);
    white-space: nowrap;
}

@media screen and (min-width: 1280px) {
    .container_text {
        font-size: 31px;
    }
}

@media screen and (max-width: 767px) {
    .container_text{
        font-size: 24px;
    }
}

.img_cont {
    height: 80vh;
    width: 33%;
    object-fit: cover;
    border-radius: 10px;
    margin: 5px;
    padding: 9px;
}

.img_container_img {
    display: flex;   
}

.russia {
    border-radius: 50%;
    height: 22px;
    width: 22px;
}

.star_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.star {
    height: 35px;
    width: 35px;
}

@media screen and (min-width: 1280px) {
    .star {
        width: 35px;
        height: 35px;
    }
}

@media screen and (max-width: 767px) {
    .star{
        width: 28px;
        height: 28px;
    }
}

.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(138, 75, 194);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease;
}
@media screen and (min-width: 1280px) {
    .notification {
    }
}

@media screen and (max-width: 767px) {
    .notification{
        font-size: 10px;
    }
}
  
.notification.visible {
    opacity: 1;
}
  
.notification.hidden {
    display: none;
}